/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  background-image: url(http://files.greatermedia.com/uploads/sites/31/2017/06/GettyImages-682161090-1-1400x933.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-size: 3.5em;
}
h2{
  font-size: 1.8em;
}
h1, h2, h3, h1, h6, h5{
  color: white;
}

a, ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  text-decoration: none;
}
label{
  color: white;
}

header ul li{
  float: left;
  margin-right: 30px;
  padding-top: 12px;
}
header ul li:first-of-type{
  margin-left: 30px;
}
header ul li a, header ul li span{
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}
header ul:last-of-type{
  float: right;
}


#searchArtist{
  width: 40%;
  height: 40px;
  font-size: 1.6em;
  margin: 100px 0 0 30%;
  text-align: center;
}
#artistSearched{
  font-size: 1.8em;
  text-align: center;
}
.logoDiv{
  width:40%;
  margin: 0 0 0 5%;
  padding-top: 40px;
  clear: both;
}
.setlist{
  min-height:350px;
  width: 85%;
  background: rgba(255, 255, 255, 0.3);
  margin: 7.5%;
  border: 2px solid yellow;
  padding: 20px 10% 20px 10%;
  clear: both;
}
.setlist ul li, #fanMessages li{
  padding: 3px 0 3px 0;
  border-bottom: 2px solid black;
  color: white;
  font-size: 1.6em;
}
.setlist h2, .messageSection h2, .setlist h3{
  text-align: center;
}
.tagline{
  margin: 0 0 0 2.5%;
}
.tagline2{
  margin: 0 0 0 3.5%;
  font-size: 1em;
}
.deadline{
  font-size: 2em;
  margin-left: 40%;
}
.fa {
cursor: pointer;
padding-left: 3px;
}

/* Tempo voting section */
.tempoSpan{
  float: right;
}
/* message section */
.messageSection{
  width: 85%;
  margin-left: 7.5%;
}
.panel-body{
  min-height:350px;
  border: 2px solid yellow;
  padding: 20px 10% 20px 10%;
  background: rgba(255, 255, 255, 0.3);
}
.panel-body h3{
  color: white;
  display: block;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
}
.form-group{
  padding: 20px 30% 20px 30%;
}
.form-group textarea{
  width: 100%;
  height: 80px;
  font-size: 1.4em;
  margin: 10px 0 10px 0;
}
.form-group button{
  display: block;
  clear:both;
}
#fanMessages li span:first-of-type{
  display: block;
  width: 60%;
  float: left;
  padding-right: 5%;
}
#fanMessages li span:last-of-type{
  display: block;
  width: 40%;
  float: left;
}
.whoPost{
  float:right;
}
.titleRow span{
 color: black;
}

#artistinfo{
  margin-left: 77%;
  margin-top: -8%;
  font-size: 1.2em;
}
.hover{
  color: yellow;
}

/*Back end css*/
.backend{
  clear: both;
  background: black;
}
.porfileDiv{
  margin-bottom: 70px;
}
.profileDiv form input{
  font-size: 1.4em;
}
#deleteLame{
  margin-top: 20px;
}

/* Mobile */

@media only screen and (max-width:600px){
  header nav li{
    clear: both;
    float: none;
  }
  #searchArtist{
    width: 80%;
    margin: 100px 0 0 10%
  }
  .logoDiv{
    width:40%;
    margin: 40px 0 0 30%;
    float: none;
  }
  .form-group{
    padding: 20px 15% 20px 15%;
  }

  span{
    font-size: 0.8em;
  }

  header ul li{
    float: left;
    margin: 0;
    width: 40%;
    margin: 20px 0 0 10%;
  }
  header ul li:first-of-type{
    margin: 20px 0 0 10%;
  }
  header ul:last-of-type{
    float: none;
  }

}
